{{- $siteTitle := .Site.Title -}}
{{- $pageTitle := cond .IsHome $siteTitle (printf "%s | %s" .Title $siteTitle) -}}
{{- $rawDescription := .Description | default .Params.summary | default .Summary | default .Site.Params.description -}}
{{- $description := $rawDescription | plainify | htmlUnescape | truncate 160 -}}
{{- $canonical := .Permalink -}}
{{- $image := .Params.featured_image | default .Site.Params.og_image | default "/images/site-logo.svg" -}}
{{- $imageURL := "" -}}
{{- if or (hasPrefix $image "http://") (hasPrefix $image "https://") -}}
{{- $imageURL = $image -}}
{{- else -}}
{{- with resources.Get $image -}}
{{- $imageURL = .Permalink -}}
{{- else -}}
{{- $imageURL = $image | absURL -}}
{{- end -}}
{{- end -}}
{{- $imageAlt := .Params.image_alt | default (printf "%s - %s" .Title $siteTitle) -}}
{{- $siteLocale := .Site.Language.Locale | default .Site.Language.Lang | default "zh-CN" -}}
{{- $languageParts := split $siteLocale "-" -}}
{{- $locale := replace $siteLocale "-" "_" -}}
{{- if eq (len $languageParts) 2 -}}
{{- $locale = printf "%s_%s" (index $languageParts 0) (upper (index $languageParts 1)) -}}
{{- end -}}
{{- $keywords := slice -}}
{{- range .Site.Params.keywords }}{{- $keywords = $keywords | append . -}}{{- end -}}
{{- range .Params.keywords }}{{- $keywords = $keywords | append . -}}{{- end -}}
{{- with .Params.tags -}}
{{- if reflect.IsSlice . -}}
{{- range . }}{{- $keywords = $keywords | append . -}}{{- end -}}
{{- else -}}
{{- $keywords = $keywords | append . -}}
{{- end -}}
{{- end -}}
{{- with .Params.categories -}}
{{- if reflect.IsSlice . -}}
{{- range . }}{{- $keywords = $keywords | append . -}}{{- end -}}
{{- else -}}
{{- $keywords = $keywords | append . -}}
{{- end -}}
{{- end -}}
{{- $keywords = uniq $keywords -}}
{{- $hasDate := ne (.Date.Format "2006") "0001" -}}
<title>{{ $pageTitle }}</title>
<meta name="description" content="{{ $description }}" />
<meta name="robots" content="{{ if .Params.noindex }}noindex,nofollow{{ else }}index,follow{{ end }}" />
<meta name="author" content="{{ .Params.author | default .Site.Params.author | default $siteTitle }}" />
<meta name="format-detection" content="telephone=no" />
<link rel="canonical" href="{{ $canonical }}" />
{{ if gt (len $keywords) 0 }}
<meta name="keywords" content="{{ delimit $keywords ", " }}" />
{{ end }}
<meta property="og:title" content="{{ $pageTitle }}" />
<meta property="og:description" content="{{ $description }}" />
<meta property="og:site_name" content="{{ $siteTitle }}" />
<meta property="og:url" content="{{ $canonical }}" />
<meta property="og:locale" content="{{ $locale }}" />
<meta property="og:image" content="{{ $imageURL }}" />
<meta property="og:image:secure_url" content="{{ $imageURL }}" />
<meta property="og:image:alt" content="{{ $imageAlt }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ $pageTitle }}" />
<meta name="twitter:description" content="{{ $description }}" />
<meta name="twitter:image" content="{{ $imageURL }}" />
<meta name="twitter:image:alt" content="{{ $imageAlt }}" />
{{ if and .IsPage $hasDate }}
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" />
<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}" />
<meta property="og:updated_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}" />
{{ with .Section }}<meta property="article:section" content="{{ . }}" />{{ end }}
{{ with .Params.tags }}{{ if reflect.IsSlice . }}{{ range . }}<meta property="article:tag" content="{{ . }}" />{{ end }}{{ else }}<meta property="article:tag" content="{{ . }}" />{{ end }}{{ end }}
{{ end }}
{{- $orgName := .Site.Params.organization.name | default .Site.Params.author | default $siteTitle -}}
{{- $orgURL := .Site.Params.organization.url | default .Site.BaseURL -}}
{{- $orgLogo := .Site.Params.organization.logo | default "/images/site-logo.svg" | absURL -}}
{{- $publisher := dict "@type" "Organization" "name" $orgName "url" $orgURL "logo" (dict "@type" "ImageObject" "url" $orgLogo) -}}
{{- $webPage := dict "@type" "WebPage" "@id" $canonical "url" $canonical "name" $pageTitle "description" $description "inLanguage" $siteLocale "isPartOf" (dict "@id" (printf "%s#website" .Site.BaseURL)) "publisher" $publisher -}}
{{- if and .IsPage $hasDate -}}
{{- $webPage = merge $webPage (dict "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00") "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")) -}}
{{- end -}}
{{- $website := dict "@type" "WebSite" "@id" (printf "%s#website" .Site.BaseURL) "url" .Site.BaseURL "name" $siteTitle "description" .Site.Params.description "inLanguage" $siteLocale "publisher" $publisher -}}
{{- $breadcrumbs := slice (dict "@type" "ListItem" "position" 1 "name" "首页" "item" .Site.BaseURL) -}}
{{- if not .IsHome -}}
{{- with .CurrentSection -}}
{{- if and .Title (ne .RelPermalink "/") -}}
{{- $breadcrumbs = $breadcrumbs | append (dict "@type" "ListItem" "position" 2 "name" .Title "item" .Permalink) -}}
{{- end -}}
{{- end -}}
{{- $breadcrumbs = $breadcrumbs | append (dict "@type" "ListItem" "position" (add (len $breadcrumbs) 1) "name" .Title "item" $canonical) -}}
{{- end -}}
{{- $breadcrumbSchema := dict "@type" "BreadcrumbList" "@id" (printf "%s#breadcrumb" $canonical) "itemListElement" $breadcrumbs -}}
{{- $graph := slice $website $webPage $breadcrumbSchema -}}
{{- if .IsHome -}}
{{- $serverParams := .Site.Params.server -}}
{{- $gameServer := dict "@type" "GameServer" "@id" (printf "%s#server" .Site.BaseURL) "name" $serverParams.name "url" .Site.BaseURL "description" .Site.Params.description "game" "Minecraft" "image" $imageURL "sameAs" (slice $serverParams.player_center $serverParams.qq_join_url) "contactPoint" (dict "@type" "ContactPoint" "email" $serverParams.contact_email "contactType" "server owner") "serverStatus" "Online" -}}
{{- $graph = $graph | append $gameServer -}}
{{- else if .IsPage -}}
{{- $author := dict "@type" "Organization" "name" (.Params.author | default .Site.Params.author | default $siteTitle) -}}
{{- $article := dict "@type" "Article" "@id" (printf "%s#article" $canonical) "headline" .Title "name" .Title "description" $description "url" $canonical "inLanguage" $siteLocale "image" $imageURL "author" $author "publisher" $publisher "mainEntityOfPage" (dict "@id" $canonical) -}}
{{- if $hasDate -}}
{{- $article = merge $article (dict "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00") "dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00")) -}}
{{- end -}}
{{- $graph = $graph | append $article -}}
{{- end -}}
{{- $schema := dict "@context" "https://schema.org" "@graph" $graph -}}
<script type="application/ld+json">
{{ $schema | jsonify | safeJS }}
</script>
